<div class="row">
    <h1>Estudios</h1>
    <div class="col-12">
        <ul>
            <li><h1>titulo 1</h1>-<h4>(años)</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates iusto provident labore ad, inventore omnis.</p>
            </li>
        </ul>
        <ul>
            <li><h1>titulo 2</h1>-<h4>(años)</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates iusto provident labore ad, inventore omnis.</p>
            </li>
        </ul>
        <ul>
            <li><h1>titulo 3</h1>-<h4>(años)</h4>
                <button type="button" class="btn btn-danger justify-content-end"></button>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates iusto provident labore ad, inventore omnis.</p>
            </li>
        </ul>
    </div>
</div>