
<div class="row" >
    <div class="col-2" id="lfoto">
        <img src="../../../assets/auto.png" alt="" id="foto">
    </div>
    <div class="col-3" id="nombr">
        <h1 id="nombre">{{persona.nombre}}{{persona.apellido}}</h1>
        <h2>titulo</h2>
    </div>
    <div class="col-6" id="acerca">
        <span>
            <h1>Acerca de </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Excepturi quae distinctio veniam ducimus sit 
                ipsam harum voluptatum quis dicta sunt?</p>
        </span>
    </div>
</div>

