
    <div class="row" >
        <div class="col-2" id="lfoto">
        <img src="../../../assets/auto.png" alt="" id="foto">
        </div>
        <div class="col-3" id="nombre">
            <h1>Nombre y Apellido</h1>
            <h2>titulo</h2>
        </div>
        <div class="col-6" id="acerca">
            <h1>Acerca de </h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing 
                elit. Excepturi quae distinctio veniam ducimus sit 
                ipsam harum voluptatum quis dicta sunt?</p>
        </div>
    </div>

