@media (max-width: 575px) {
    #lfoto{
        position: relative;
        left: 10px;
        top: 2px;
        width: 95%;
       
    }
    #foto {
        align-self: auto;
        width: 95%;
        border-radius: 20%;   
        
    }
    #nombr{
        position: relative;
        text-align: center;
        width: 100%;
        top: 2px;
        
    }
    #acerca{
        position: relative;
        text-align: center;
        top: 2px;
        width: 95%;
    }
    
}
@media (min-width: 576px) {
    #foto {
        position: relative;
        margin-top: -2%;
        width: 15%;
        border-radius: 20%;
    }
    #lfoto{
        position: relative;
        
        width: 95%;
    }

    #nombr{
        text-align: center;
        position: relative;
        left: 5px;
        left:15%;        
    }
    #acerca{
        text-align: justify;
        position: relative;
        left: 15%;
    }
}
